body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
}
.btn{
    background-color: #061437;
    color: #fff;
    transition: 0.5s;
}
.btn:hover{
    background-color: #4c6bc7;
    color: #fff;
}
.select:focus{
    display: none;
}
.inputs{
    width:400px;
    position:absolute;
}
.form{
    width:600px;
    height:500px;
    position:relative;
}